@font-face {
    font-family: TokyoShadow;
    src: url('../assets/fonts/NightinTokyoShadow.ttf');
}

@font-face {
    font-family: TokyoBold;
    src: url("../assets//fonts/NightinTokyo-Bold.ttf");
}

@font-face {
    font-family: japaneseFont;
    src: url('../assets/fonts/Fujimaru-Regular.ttf');
}


@font-face {
    font-family: CatCafe;
    src: url('../assets/fonts/CatCafe.ttf');
}

.landingContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: CatCafe;

    img{
        width: 20vw;
        fill: white;
    }

    h1{
        font-family: TokyoBold;
        font-size: 10em;
        margin-bottom: 0;
    }

    .descriptionContainer{
        width: 60vw;
        padding: 2em;
        margin: auto;

        h3{
            width: 75%;
            margin: auto;
            letter-spacing: 2px;
            margin-top: 2rem;
        }

        p{
            letter-spacing: 2px;
            margin-top: 2rem;
        }
    }
}